#khimera.cloud config

FILENAME=khimera-demo.tar.gz

G_REGION=europe-west1
G_ZONE=$G_REGION-b

export CLOUDSDK_COMPUTE_REGION=$G_REGION
export CLOUDSDK_COMPUTE_ZONE=$G_ZONE

G_PROJECT=wwwkandrdev
G_BUCKET=khimera-dev
G_IMGNAME=khimera-demo-tmp
G_INSTANCE=khimera-demo

DNS_ZONE=khimera-cloud
DNS_NAME=demo.khimera.cloud

G_MGMT_INST=khimera-mgmt
G_MGMT_DNS=mgmt.khimera.cloud

AWS_HLP_INST=i-0071798e1f4de4edd
AWS_HLP_DNS=aws-hlp.khimera.cloud
AWS_HLP_USER=admin

AWS_BUCKET=khimera-dev
AWS_OUTPUT=.aws.output.tmp
AWS_IN_AMI_IDFILE=.aws.in.ami.id
AWS_OUT_AMI_IDFILE=.aws.out.ami.id
AWS_INST_IDFILE=.aws.inst.id
AWS_EXDISK_IDFILE=.aws.exdisk.id

TMPL_KEY=.template.key
TMPL_USER=admin
TMPL_IP_IDFILE=.template.ip
